body {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.bold {
    font-family: overpass-bold;
}

.thin {
    font-family: overpass-thin;
}

.page {
    min-height: 100%
}

.page-container{
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
    overflow-y: hidden;
}

.inner-container{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.setting li {
    display: inline;
}

ul {
    list-style-type: none;
    padding: 0;
}

.setting-row {
    display: list-item
}

.main-menu {
    background: rgb(40,40,40);
    width: 20%;
    height: 100%;
    position: fixed;
}

#pSettings {

    background-color: white;
    opacity: 0.9;
}