@font-face {
    font-family: overpass-thin;
    src: url("resources/fonts/overpass/overpass-thin.otf") format("opentype");
}

@font-face {
    font-family: overpass-regular;
    src: url("resources/fonts/overpass/overpass-regular.otf") format("opentype");
}

@font-face {
    font-family: overpass-bold;
    src: url("resources/fonts/overpass/overpass-bold.otf") format("opentype");
}

body {
    font-family: overpass-regular;
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-image: url('resources/img/background.png');
}

.bold {
    font-family: overpass-bold;
}

.thin {
    font-family: overpass-thin;
}

.page {
    min-height: 100%
}

.page-container{
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
    overflow-y: hidden;
}

.main-menu {
    background: rgb(40,40,40);
    width: 20%;
    height: 100%;
    position: fixed;
}

#pSettings {

    background-color: white;
    opacity: 0.9;
}